
/* color project */
$primary_color: #ffffff;
$secondary_color: #000000;
$third_color: #343779;
$four_color: #F76041;



/* menu pos */

$pos_menu: 25px;
$pos_menu_bis: 25px / 2;




/*device */

$max_width_tablet: 768px;

